<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>音声でタスクを作成するためにマイクを使用します</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>音声をテキストに変換するために音声認識を使用します</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>voicefusen</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.seastar.voice-task</string>
		</dict>
	</array>
</dict>
</plist>
